*{
	margin: 0px;
}
body{
	background: #f6f6f6;
}


/*Header*/
.header{
	width: 100%;
	height: 250px;
}
h1{
	text-align: center;
	color: grey;
	font-family: Arial;
	padding-top: 30px;
}
.form{
	margin: 50px;
}
input{
	width: 49.8%;
	height: 50px;
	border: none;
}
#button{
	width: 100%;
	text-align: center;
	display: inline-block;
	font-size: 30px;
	margin-top: 20px;
}

/*Task body*/
.task-list{
	width:100%;
  	height:auto;
  	text-align:center;
}

.task{
	width: 30%;
	height: 300px;
	background: grey;
	border: 1px solid #f6f6f6;
	list-style-type: none;
	display: inline-block;
}

.h{
	word-wrap: break-word;
	min-width: 90%;
	height: 100px;
	text-align: center;
	font-size: 35px;
	font-family: Arial;
}

.close{
	float: right;
	width: 7%;
	height: 15%;
	background: green;
	font-size: 30px;
	margin-left: 7%;
}

.close:hover{
	opacity: 0.5;
	cursor: pointer;
}



.contents{
	min-width: 100%;
	height: 200px;
	font-family: Arial;
	font-size: 20px;
	word-wrap: break-word;
}

p{
	text-align: left;
}

@media screen and (max-width: 1092px) {
	/*Header*/

	.header{
		width: auto;
		height: 250px;
	}
	h1{
		text-align: center;
		color: grey;
		font-family: Arial;
		padding-top: 20px;
	}
	.form{
		margin: 50px;
	}
	input{
		width: 100%;
		margin: 30px;
		height: 50px;
		border: none;
		margin-left: -1px;
	}
	#button{
		width: 100%;
		text-align: center;
		display: inline-block;
		font-size: 30px;
		margin-top: 20px;
	}

	.task{
	max-width: 30%;
	max-height: 400px;
	background: grey;
	border: 1px solid #f6f6f6;
	list-style-type: none;
	display: inline-block;
}
.h{
	width: 100%;
	height: 100px;
	text-align: center;
	background: green;
	font-size: 20px;
	font-family: Arial;
	word-spacing: break-word;
}
.contents{
	width: 100%;
	height: 200px;
	background: #d32828;
	font-family: Arial;
	font-size: 15px;
	word-spacing: break-word;
}

#MyTask{
	padding-top: 200px;
}

}


